main{
    text-align: center;
}

.container {
    width: 660px;
    margin: 0 auto;
}

.maze {
    margin: 30px;
    outline: 2px solid slategray;
    outline-offset: -2px;
}

button {
    display: flex;
    margin: 0 auto;
    padding: 10px;
}